div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 100px;

    background-color: #acd6e8f0;

    margin: 0 5px;

    border-radius: 2px 2px 15px 2px;

    color: #000;
    text-transform: uppercase;
    font-size: x-large;
    text-align: center;

    span {
        padding: 0 10px;
    }
    cursor: pointer;
}

.locked {
    cursor: default;
}

.answered {
    opacity: 0;
    cursor: default;
}