@import './colors';

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;

    text-transform: uppercase;

    border-radius: 2px 2px 15px 2px;

    outline: none; // no border after click
}

#correct {
    background-color: $correct;
}

#wrong {
    background-color: $wrong;
}

.category {
    display: flex;
    margin: 5px 0;
}

#container {
    display: flex;
    margin: 0 50px;
    align-items: center;
}

#playfield {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}